$grid-columns: 12 !default;
$grid-breakpoint: 920px !default;
$grid-gap: 1em !default;
$text-gap: 0.25em;

.rows {
    display: flex;
    flex-direction: column;
    gap: $grid-gap;
    min-width: 0;

    &.fill {
        flex: 1;
    }
}

.row {
    display: grid;
    grid-template-columns: repeat(#{$grid-columns}, 1fr);
    gap: $grid-gap;
    align-items: start;
}

@for $i from 1 through $grid-columns {
    .col-#{$i} {
        grid-column: span #{$i};
    }
}

@media (max-width: $grid-breakpoint) {
    .row {
        display: flex;
        flex-direction: column;
        gap: $grid-gap;

        width: 100%;
    }

    @for $i from 1 through $grid-columns {
        .col-#{$i} {
            display: flex;
            flex-direction: column;
            gap: $grid-gap;

            width: 100%;
        }
    }
}
