@mixin icon($name) {
    &.#{$name} {
        mask-image: url('/static/icons/#{$name}.svg');
        background-color: var(--icon-color);
    }

    &.invert {
        background-color: var(--icon-color-invert);
    }
}

@mixin color_image($name) {
    &.#{$name} {
        background-image: url('/static/icons/#{$name}.svg');
    }
}

.btn > .icon {
    width: $icon-height;
    height: $icon-height;
}

.btn.sm > .icon {
    width: $icon-height-sm;
    height: $icon-height-sm;
}

.icon {
    display: inline-block;
    vertical-align: middle;

    width: $btn-height;
    height: $btn-height;

    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;

    @include icon('x-mark');
    @include icon('check');
    @include icon('restart');
    @include icon('remote');
    @include icon('signal');
    @include icon('signal-slash');
    @include icon('cog');
    @include icon('user-plus');
    @include icon('eye');
    @include icon('eye-slash');
    @include icon('cursor-arrow-rays');
    @include icon('arrow-up-on-square');
    @include icon('photo');
}

.image-icon {
    display: inline-block;
    vertical-align: middle;

    width: $btn-height;
    height: $btn-height;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @include color_image('mumble');
}