@mixin icon($name) {
    &.#{$name} {
        background-image: url('/static/icons/#{$name}.svg');
    }
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;

    @include icon('x-mark');
    @include icon('check');
    @include icon('restart');
    @include icon('mumble');
    @include icon('remote');
    @include icon('signal');
    @include icon('signal-slash');
    @include icon('cog');
    @include icon('user-plus');
    @include icon('eye');
    @include icon('eye-slash');
}
